
body::before {
    display: block;
    content: '';
    height: 80px;
  }
  
  
  logo{
      float:left;
      width:120px;
      height:auto;
      position: static;
  }

#loginbtns{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 20px;
}
body{ background-color: #212529;
}